/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #333;
}

/* Estilos para el formulario */
form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la lista de Pokémon */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

/* Estilos para las tarjetas de Pokémon */
.pokemon-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.pokemon-image {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px auto;
    display: block;
}

.pokemon-name {
    font-weight: bold;
    color: #333;
}

.pokemon-type {
    color: #777;
}

.pokemon-stat {
    margin-top: 5px;
    color: #555;
}
